name: Frontend CI

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Frontend Image
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner }}/arovi-frontend
          IMAGE=${IMAGE,,}
          TAG=${{ github.sha }}

          docker build -t $IMAGE:$TAG .
          docker tag $IMAGE:$TAG $IMAGE:latest

          docker push $IMAGE:$TAG
          docker push $IMAGE:latest